---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/vue/Calculator.vue';
---

<Layout title="Welcome to Astro.">
	<div class="h-screen bg-orange-300 flex justify-center items-center">
		<Calculator />
	</div>
</layout>	